<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://loremflickr.com/720/300/cocktail)">
  <h1>Cocktails</h1>
</div>

<div class="cards">
  <% @cocktails.each do |cocktail| %>
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://loremflickr.com/240/400/cocktail)">
      <%# if article.photo.attached? %>
      <%# <%= cl_image_tag "cocktail.photo.key", width: , height: , crop: :fill /:thumb, gravity: :face %>
      <%= link_to cocktail.name, cocktail_path(cocktail.id) %>
    </div>
  <% end %>
</div>
