.container {
  margin-top: 20px;
  margin-bottom: 140px;
  display: flex;
  flex-direction: column;
  a {
    margin-top: 16px;
  }
  form {
    margin-top: 20px;
  }
}

.suppr {
  color: grey;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: rgb(70, 70, 70);
  }
}