.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  
  .btn {
    margin: 0px 16px;
  }
}

.navbar-brand {
  margin: 10px 16px;
  width: 40px;
}
